<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	{include file='export-head' /}
<title>权限管理</title>
	<style>
		/*.datas .layui-table-view .layui-table td:nth-child(3),.datas .layui-table-view .layui-table td:nth-child(4) {*/
			/*text-align: left;*/
			/*padding-left: 210px;*/
		/*}*/
		/*.datas .layui-table-view .layui-table td:nth-child(4),.datas .layui-table-view .layui-table th:nth-child(4) {*/
			/*text-align: left;*/
			/*!*padding-left: 270px;*!*/
			/*padding-left: 12%;*/
		/*}*/
		/*.datas .layui-table-view .layui-table td:nth-child(3),.datas .layui-table-view .layui-table th:nth-child(3) {*/
			/*text-align: left;*/
			/*!*padding-left: 150px;*!*/
			/*padding-left: 5%;*/
		/*}*/
	</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<!--<div class="text-c">-->
		<!--<form id="searchPermission" class="Huiform" method="post" action="" target="_self">-->
			<!--<input type="text" class="input-text" style="width:250px" placeholder="权限名称" id="title" name="title">-->
			<!--<button type="submit" class="btn btn-success" onclick="searchTitle()" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>-->
		<!--</form>-->
	<!--</div>-->
	<!--数据显示-->
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="r">
			<a href="javascript:;" onclick="permission_add('添加根节点','{:url(\'permissionAdd\')}','800','400')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加根节点</a>
			<a class="btn  btn-danger radius" data-title="批量删除" onclick="delBatch()" href="javascript:;"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
		<!--<span class="l total mr-10">共有数据：<strong></strong> 条</span>-->
		<span class="l total mr-10">权限列表</span>
	</div>
	<div class="datas">
		<table id="permissionLists" lay-filter="plist"></table>
	</div>
</div>
{include file='export-footer' /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>-->
<script type="text/html" id="exportTools">
	<a title="修改" class="layui-btn layui-btn-xs" lay-event="edit"><i class="Hui-iconfont">&#xe6df;</i></a>
	<a title="添加子权限" class="layui-btn layui-btn-xs" lay-event="add" style="background:#5A98DE"><i class="Hui-iconfont">&#xe604;</i></a>
	<a title="删除" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="Hui-iconfont">&#xe6e2;</i></a>
</script>
<script type="text/html" id="status">
	{{# if (d.status >= 1) { }}
	<span>启用</span>
	{{# }else{ }}
	<span>禁用</span>
	{{# } }}
</script>
<script type="text/javascript">
	setAlign(['_name','name'],'left');
    var pdata = null;
    //表格方法式渲染
    layui.use(['table','layer'],function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        table.render({
            elem: '#permissionLists' //指定原始表格元素选择器（推荐id选择器）
            ,id: 'main'
//        ,height: 288 //容器高度
//        ,data: res.data
            ,url: '{:url(\'admin/admin/permission\')}'
//        ,initSort: {
//            field: 'autonum' //排序字段，对应 cols 设定的各字段名
//            ,type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
//        }
//		,height: 'full-600'
			,cellMinWidth: 100
            ,cols: [[ //标题栏
                {type:'checkbox'},
                {field: 'autonum', title: 'No.', width: 80, sort: true}
                ,{field: '_name', title: '权限名称'}
                ,{field: 'name', title: '权限'}
                ,{field: 'status', title: '状态',templet: '#status', width: 120, sort: true}
                ,{field: 'ctrl', title: '操作', width: 155,fixed:"right", toolbar: "#exportTools"}
            ]]
            ,skin: 'row' //表格风格
            ,even: true
//            ,page: true //是否显示分页
//            ,limits: [5,10,15,20]
//            ,limit: 20 //每页默认显示的数量
            ,done: function(res, curr, count){
                //如果是异步请求数据方式，res即为你接口返回的信息。
                //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                $(".total").children("strong").html(count);
            }
        });

        //监听操作工具条
        table.on("tool(plist)",function (obj) {
            pdata = obj.data;
            var data = obj.data;
//            var url = "{:url('admin/admin/edit')}".replace('.html','');
            if(obj.event == "edit") {
                layer.open({
                    type: 2,
                    content: "{:url('admin/admin/permissionEdit')}",
                    title: data.title+'_权限修改页面',
                    maxmin: true,
                    area: ['800px','400px'],
                });
            }else if(obj.event == "add") {
                layer.open({
                    type: 2,
//                    content: url+'/uid/'+data.id,
                    content: "{:url('admin/admin/permissionAdd')}",
                    title: data.title+'_子权限添加页面',
                    maxmin: true,
                    area: ['800px','400px'],
                    end: function () {
                        pdata = null;
                    }
                });
            }else if(obj.event == "del") {
                layer.confirm('确定删除？', function(index){
                    $.post('{:url("admin/admin/delPermission")}',{id: data.id},function (res) {
                        if (res.code == '0000') {
                            obj.del();
                            layer.close(index);
                            table.reload('main');
                        }else{
                            console.log(res.msg);
                            layer.close(index);
                            if (typeof res !== 'string') {
                                layer.msg(res.msg,{time: 2000});
                            }else{
                                layer.msg(res,{time: 2000});
                            }
                        }
                    });
                });
            }
        });
    });

    //批量删除
    function delBatch() {
        layui.use(['table','layer'],function (table,layer) {
            var $ = layui.jquery;
            var checkStatus = table.checkStatus('main');
            var data = checkStatus.data;

            if (data.length>0) {
                //将被选中的数据对象转换成字符串，后通过表单向后台提交并获取导出的文件
                var str = "";
                var flag = true;
                $(data).each(function (index,obj) {
                    str+= obj.id+"|";
                });
                if (!flag) {return};
                layer.confirm('确定删除？', function(index){
                    $.post('{:url("admin/admin/delPermission")}',{data: str.slice(0,-1)},function (res) {
                        if (res.code == '0000') {
                            table.reload('main');
                            layer.close(index);
                        }else{
                            layer.close(index);
                            if (typeof res !== 'string') {
                                layer.msg(res.msg,{time: 2000});
                            }else{
                                layer.msg(res,{time: 2000});
                            }
                        }
                    });
                });
            }else{
                layer.msg("没选择数据呀",{'time':"1000"});
            }
        });
    }

    //用户搜索
    function searchUser() {
        layui.table.reload('main', {
            url: "{:url('admin/admin/search')}",
            method: 'post'
            ,where: {data:$('#searchUsers').serializeArray(),type: 'user_multiple'}
        });
        $('#searchUsers').submit(function (e) {
            return false;
        });
    }

	/*权限-增加*/
    function permission_add(title,url,w,h){
        pdata = null;
        layer_show(title,url,w,h);
    }

</script>
</body>
</html>