<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	{include file='export-head' /}
<title>添加用户组</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户组名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="用户组名" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>模块：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" autocomplete="off" value="admin" placeholder="模块名" id="module" name="module">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>组描述：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea rows="5" style="height: auto" class="input-text" autocomplete="off"  placeholder="组描述" id="description" name="description"></textarea>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>组状态：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="status" type="radio" id="status-1" checked value="1">
				<label for="status-1">启用</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="status-2" name="status" value="0">
				<label for="status-2">禁用</label>
			</div>
		</div>
	</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3">用户组：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9 skin-minimal auth-group">-->
			<!--</div>-->
		<!--</div>-->
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

{include file='export-footer' /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/html" id="auth-group">
	{{# layui.each(d,function(index,item){ }}
	{{# if (d.length!==0) { }}
		<div class="check-box mb-10">
			<input type="checkbox" id="checkbox-{{index+1}}" name="gid[]" value="{{item.id}}">
			<label for="checkbox-{{index+1}}">{{ item.title }}</label>
		</div>
	{{# }else{ }}
		<span>暂无分组</span>
	{{# } }}
	{{# }); }}
</script>
<script type="text/javascript">
	var result = {};
	$.ajax({
        url: "{:url('admin/admin/getAuthGroup')}",
        type: 'post',
        data: {},
        async: false,
        success: function(data) {
            result = data.data;
        }
    });

$(function(){
    layui.use(['laytpl','jquery'],function(){
        var laytpl = layui.laytpl;
        var $ = layui.jquery;
        var cbtpl = $('#auth-group').html();
        laytpl(cbtpl).render(result,function(html) {
            $('.auth-group').html(html);
        });
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
	$("#form-admin-add").validate({
		rules:{
			title:{
				required:true
			},
            module:{
				required:true,
			},
            status:{
				required:true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('admin/admin/groupsAdd')}" ,
				success: function(data){
				    if (data.code === '0000') {
                        layer.msg('添加成功!',{time:1000});
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                        parent.layui.table.reload('main');
                    }else if (data.msg.indexOf('Duplicate')!==-1){
				        layer.open ({content:'用户组已存在！'});
                    }else{
                        console.log(data.msg);
                        layer.open({content:'未知错误！'})
                    }
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>