{if condition="$tpl eq 2"}
<div class="text-c">
    <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
    <span class="select-box inline">
		<select name="" class="select">
			<option value="0">全部分类</option>
			<option value="1">分类一</option>
			<option value="2">分类二</option>
		</select>
		</span> 日期范围：
    {literal}
    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
    {/literal}
    <input type="text" name="" id="" placeholder=" 资讯名称" style="width:250px" class="input-text">
    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
</div>
{elseif condition="$tpl eq 1" /}
<div class="text-r">
    <form action="" method="post" id="searchClients">
        日期范围：
        {literal}
        <input name="create_time_begin" type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input name="create_time_end" type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        {/literal}
        &nbsp;
        客户名称:
        <input type="text" class="input-text" style="width:250px" placeholder="请输入客户名称" id="" name="clientname">
        &nbsp;
        客户电话:
        <input type="text" class="input-text" style="width:250px" placeholder="请输入客户电话" id="" name="phone">
        <button  onclick="searchClients()" type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜客户</button>
    </form>
</div>
{elseif condition="$tpl eq 3"/}
<div class="text-r">
    <form action="" method="post" id="searchUsers">
        登录日期范围：
        {literal}
        <input name="login_time_begin" type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input name="login_time_end" type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        {/literal}
        <input type="text" class="input-text" style="width:250px" placeholder="请输入管理员名称" id="" name="username">
        <button onclick="searchUser()" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </form>
</div>
{elseif condition="$tpl eq 4"/}
<div class="text-c"> 日期范围：
    {literal}
    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
    {/literal}
    <input type="text" name="" id="" placeholder=" 图片名称" style="width:250px" class="input-text">
    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜图片</button>
</div>
{elseif condition="$tpl eq 5"/}
<div class="text-c"> 日期范围：
    {literal}
    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
    {/literal}
    <input type="text" name="" id="" placeholder=" 产品名称" style="width:250px" class="input-text">
    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜产品</button>
</div>
{elseif condition="$tpl eq 6"/}
<div class="text-c"> 日期范围：
    {literal}
    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
    {/literal}
    <input type="text" name="" id="" placeholder="日志名称" style="width:250px" class="input-text">
    <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜日志</button>
</div>
{elseif condition="$tpl eq 7"/}
<div class="text-c"> 日期范围：
    {literal}
    <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
    -
    <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
    {/literal}
    <input type="text" class="input-text" style="width:250px" placeholder="输入关键词" id="" name="">
    <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜意见</button>
</div>
{/if}

