<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	{include file='export-head' /}
<title>添加客户</title>
	<style>
		.auth-group label[for^="checkbox-"] {
			line-height: 25px;
		}
	</style>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-client-add" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="客户名称" id="clientName" name="clientname">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户电话：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" autocomplete="off" value="" placeholder="客户电话" id="clientPhone" name="phone">
		</div>
	</div>
	<!--<div class="row cl">-->
		<!--<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>-->
		<!--<div class="formControls col-xs-8 col-sm-9">-->
			<!--<input type="text" class="input-text" value="" placeholder="" id="phone" name="phone">-->
		<!--</div>-->
	<!--</div>-->
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">电子邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" placeholder="电子邮箱" name="email" id="email">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">客户备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="note" cols="" rows="" class="textarea"  placeholder="备注" dragonfly="true"></textarea>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

{include file='export-footer' /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">

$(function(){
    jQuery.validator.addMethod("isPhone", function(value, element) {
        var tel = /^\d+(.)\d+$/;
        return this.optional(element) || (tel.test(value));
    }, "请正确填写电话号码");

	$("#form-client-add").validate({
		rules:{
            clientname:{
				required:true,
				minlength:2,
				maxlength:60
			},
            phone:{
                required:true,
                isPhone:true,
                maxlength:12
			},
			email: {
                email: true
			}
//			password2:{
//				required:true,
//				equalTo: "#password"
//			},
//            status:{
//				required:true,
//			},
//			adminRole:{
//				required:true,
//			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('admin/Client/add')}" ,
				success: function(data){
				    if (data.code === '0000') {
                        layer.msg('添加成功!',{time:1000});
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                        parent.layui.table.reload('main');
                    }else if (typeof data.msg === 'string' && data.msg.indexOf('Duplicate')!==-1){
				        layer.open ({content:'客户已存在！'});
                    }else{
                        console.log(data.msg);
                        layer.open({content:'未知错误！'})
                    }
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		}
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>