<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	{include file='export-head' /}
	<title>新增图片</title>
	<style>
		.cl {
			padding-left: 15px;
			padding-right: 15px;
		}
		#order-details .panel-heading {
			height: 40px;
			padding: 0 15px;
		}
		#order-details .panel-heading span {
			line-height: 40px;
		}
		.oh-content span:first-child,.oh-content span:last-child {
			vertical-align: middle;
		}
		#ohead-submit .btn {
			width: 100px;
		}
		.panel-body {
			overflow-x: hidden;
		}
		.og-tip {
			color: #DD514C;
			line-height: 30px;
		}
		.tb-wrap {
			border: solid 1px #EEEEEE;
			border-radius: 5px;
			padding: 5px;
		}
	</style>
</head>
<body>
<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:4px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
<div class="page-container">
	<!--<div id="order-details" class="panel mt-20">-->
		<!--<div class="panel-heading">-->
			<!--<span>订单基本信息</span>-->
			<!--&lt;!&ndash;<a title="修改" class="layui-btn layui-btn-mini" lay-event="edit"><i class="Hui-iconfont">&#xe6df;</i></a>&ndash;&gt;-->
			<!--&lt;!&ndash;<a href="javascript:;" onclick="searchAdv()" class="directive-close"><i class="layui-icon">&#x1006;</i></a>&ndash;&gt;-->
		<!--</div>-->
		<!--<div class="panel-body container-fluid">-->
		<!--</div>-->
		<!--<div id="ohead-submit" class="text-c">-->
			<!--<a id="ohead-submit-btn" onclick="commitHead()" class="btn  btn-primary radius mt-10 mb-10" data-title="确认修改" href="javascript:;"><i class="Hui-iconfont">&#xe6e1;</i> 确认修改</a>-->
		<!--</div>-->
	<!--</div>-->
	<div class="tb-wrap mt-20">
		<div class="cl pd-5 bg-1 bk-gray text-c">
		<span class="l">
			<span href="javascript:;" class="" style="color: #DD514C"><i class="layui-icon"></i> 异常数据</span>
			<a class="btn  btn-danger radius ml-10" data-title="批量删除" onclick="delErrBatch()" href="javascript:;"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
			<span class="og-tip">您可以直接单击单元格来修改对应的内容!</span>
			<span class="r total top-total">共有数据：<strong></strong> 条</span>
		</div>
		<div id="oe-details" class="datas">
			<table id="order-err" lay-filter="oerr"></table>
		</div>
		<div class="upbtn-wrap text-c mb-5">
			<a id="" class="btn  btn-warning radius" onclick="emitAll()" data-title="更改所有并检测" href="javascript:;"><i class="Hui-iconfont">&#xe6f7;</i> 提交所有更改并检测</a>
		</div>
	</div>

	<div class="tb-wrap mt-40">
		<div class="cl pd-5 bg-1 bk-gray text-c">
		<span class="l">
			<span href="javascript:;" class="" style="color: #47A8FC"><i class="layui-icon"></i> 即将导入的数据</span>
			<a class="btn  btn-danger radius ml-10" data-title="批量删除" onclick="delBatch()" href="javascript:;"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		</span>
			<span class="og-tip">您可以直接单击单元格来修改对应的内容!</span>
			<span class="r total bot-total">共有数据：<strong></strong> 条</span>
		</div>
		<div id="os-details" class="datas">
			<table id="order-succ" lay-filter="osucc"></table>
		</div>
		<div class="upbtn-wrap text-c mb-5">
			<a id="upcommit" class="btn  btn-secondary radius" onclick="uploading(this)" data-title="确定导入" href="javascript:;"><i class="Hui-iconfont">&#xe645;</i> 确定导入</a>
		</div>
	</div>

</div>
{include file='export-footer' /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/html" id="etools">
	<a title="提交更改并检测" class="layui-btn layui-btn-mini" lay-event="commit" style="background: #F37B1D"><i class="Hui-iconfont">&#xe6f7;</i></a>
	<a title="删除" class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del"><i class="Hui-iconfont">&#xe6e2;</i></a>
</script>
<script type="text/html" id="tools">
	<a title="修改" class="layui-btn layui-btn-mini layui-btn-mini" lay-event="commit" style="background: #5A98DE"><i class="Hui-iconfont">&#xe6e1;</i></a>
	<a title="删除" class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del"><i class="Hui-iconfont">&#xe6e2;</i></a>
</script>

<script type="text/javascript">
    layui.config({
        debug : true,
        version : true	 //清除缓存
    });
    $(document).ready(function () {
		html = "";
		var og_fields = ["item_name","qty","unit","qty1","unit1","country","hscode","gjcode","gtype","price","total_price","item_currency"];
		$.each(og_fields,function (index,field) {
			html+= '<script type="text/html\" id="og-input'+(index+1)+'">'+
						'<input name='+field+' class="input-text size-MINI" type="text" value={{ d.'+field+' }}>'+
					'<\/script>';
			$(document.body).append(html);
        });
    });
    function spliceData(obj) {
        $(duplic_data).each(function (i,item) {
            if (obj.autonum == item.autonum) {
                duplic_data.splice(i,1);
            }
        });
    }
    var preview_data = $.parseJSON($(parent.document).find('#preview-data').html());
    var duplic_data = preview_data.duplic_arr;
    layui.use(['laytpl','jquery','table'],function () {
        var laytpl = layui.laytpl;
        var $ = layui.jquery;
        var table = layui.table;

        var headtpl = $("#ohead-show").html();
//        var order_no = "{$orderNo='11111'}";
        var result = "";
        var nres = "";
//        var preview_data = $.parseJSON($(parent.document).find('#preview-data').html());
        //请求对应订单数据
//        $.ajax({
//            url:"{:url('admin/Order/getOrderDetails')}",
//            data: {"orderNo":order_no},
//            async : false,
//            type: "post",
//            success: function (data) {
//                result = data.data;
//            }
//        });
//        if (!result.length) {
//            var reg = /(type\/list)|(type\/details)/;
//            clrefresh(reg,true);
//            return;
//        }
        var headdata = result[0]; //取第一条数据的信息，因为头信息都一样
        //订单信息方法式渲染
		//非法信息
        table.render({
            elem: "#order-err",
            id: "oerr-main",
			data: duplic_data,
//            url: "{:url('admin/Order/getPreviewData')}",
//			height: 200,
            cols: [[
                {checkbox: true} //默认全选
                ,{field: 'autonum', title: 'No.',width: 70, sort: true}
                ,{field: 'order_no', title: '订单编号', width: 150, sort: true, edit: "text"}
                ,{field: 'goods_value', title: '商品价格', width: 120, sort: true, edit: "text"}
                ,{field: 'freight', title: '运杂费', width: 120, sort: true, edit: "text"}
                ,{field: 'discount', title: '非现金抵扣金额', width: 140, sort: true, edit: "text"}
                ,{field: 'tax_total', title: '代扣税款', width: 120, sort: true, edit: "text"}
                ,{field: 'actural_paid', title: '实际支付金额', width: 130, sort: true, edit: "text"}
                ,{field: 'currency', title: '币制', width: 90, edit: "text"}
                ,{field: 'buyer_name', title: '订购人姓名', width: 100, edit: "text"}
                ,{field: 'buyer_telephone', title: '订购人电话', width: 120, edit: "text"}
                ,{field: 'buyer_id_type', title: '订购人证件类型', width: 130, edit: "text"}
                ,{field: 'buyer_id_number', title: '订购人证件号码', width: 180, edit: "text"}
                ,{field: 'consignee', title: '收货人姓名', width: 100, edit: "text"}
                ,{field: 'consignee_telephone', title: '收货人电话', width: 120, edit: "text"}
                ,{field: 'consignee_address', title: '收货地址', width: 300, edit: "text"},
                {field: "gnum",title: "商品序号", width: 100, sort: true, edit: "text"},
                {field: "item_name",title: "企业商品名称",width: 200,edit: 'text'},
                {field: "qty",title: "数量",width: 100, sort: true,edit: 'text'},
                {field: "unit",title: "计量单位",width: 100, sort: true,edit: 'text'},
                {field: "qty1",title: "法定数量",width: 100, sort: true,edit: 'text'},
                {field: "unit1",title: "法定计量单位",width: 125, sort: true,edit: 'text'},
                {field: "country",title: "原产国",width: 80,edit: 'text'},
                {field: "hscode",title: "海关商品编码(Hscode)",width: 185, sort: true,edit: 'text'},
                {field: "gjcode",title: "国检商品编号",width: 150, sort: true,edit: 'text'},
                {field: "gtype",title: "商品规格型号",width: 120,edit: 'text'},
                {field: "price",title: "单价",width: 100, sort: true,edit: 'text'},
                {field: "total_price",title: "总价",width: 100, sort: true,edit: 'text'},
                {field: "item_currency",title: "币制",width: 70,edit: 'text'},
                {field: 'ctrl', title: '操作', width: 90, toolbar: "#etools", fixed: "right"}
            ]],
//            skin: "row",
            even: true,
            page: true,
            limits: [5,10,20,40,80],
            limit: 5,
            done: function (res,curr,count) {
                $(".top-total").children("strong").html(count);
                if (count == 0) {
                    layer.msg("恭喜！所有订单信息都正确！");
                    $('.tb-wrap:first-child').hide();
				}
            }
        });
        //监听非法信息操作工具条
        table.on("tool(oerr)",function (obj) {
            var data = obj.data;
            if (obj.event == "commit") {
                var url = "{:url('admin/Order/savePreviewData')}";
                data = {datas: data};
                $.post(url,data,function (res) {
                    if (res.code == "0000") {
                        if (res.data.duplic_arr == null) {
                            layer.msg(res.msg,{time: 2000});
                            spliceData(obj.data);
                            table.reload('osucc-main');
						}else {
                            layer.msg("数据仍存在错误！",{time: 2000});
						}
                        table.reload('oerr-main');
                    }else{
                        layer.open({
                            content: res.msg
                        });
                    }
                });
            }else if(obj.event == "del") {
                layer.confirm('确定删除？', function(index){
                    spliceData(obj.data);
					obj.del();
					layer.close(index);
					table.reload('oerr-main');
                });
            }
        });

        //合法信息
        table.render({
            elem: "#order-succ",
            id: "osucc-main",
            url: "{:url('admin/Order/getPreviewData')}",
//			height: 200,
            where: {batch_no: preview_data.batch_no},
            cols: [[
                {checkbox: true} //默认全选
                ,{field: 'autonum', title: 'No.',width: 70, sort: true}
                ,{field: 'order_no', title: '订单编号', width: 150, sort: true}
                ,{field: 'goods_value', title: '商品价格', width: 120, sort: true, edit: "text"}
                ,{field: 'freight', title: '运杂费', width: 120, sort: true, edit: "text"}
                ,{field: 'discount', title: '非现金抵扣金额', width: 140, sort: true, edit: "text"}
                ,{field: 'tax_total', title: '代扣税款', width: 120, sort: true, edit: "text"}
                ,{field: 'actural_paid', title: '实际支付金额', width: 130, sort: true, edit: "text"}
                ,{field: 'currency', title: '币制', width: 90, edit: "text"}
                ,{field: 'buyer_name', title: '订购人姓名', width: 100, edit: "text"}
                ,{field: 'buyer_telephone', title: '订购人电话', width: 120, edit: "text"}
                ,{field: 'buyer_id_type', title: '订购人证件类型', width: 130, edit: "text"}
                ,{field: 'buyer_id_number', title: '订购人证件号码', width: 180, edit: "text"}
                ,{field: 'consignee', title: '收货人姓名', width: 100, edit: "text"}
                ,{field: 'consignee_telephone', title: '收货人电话', width: 120, edit: "text"}
                ,{field: 'consignee_address', title: '收货地址', width: 300, edit: "text"},
                {field: "gnum",title: "商品序号", width: 100, sort: true, edit: "text"},
                {field: "item_name",title: "企业商品名称",width: 200,edit: 'text'},
                {field: "qty",title: "数量",width: 100, sort: true,edit: 'text'},
                {field: "unit",title: "计量单位",width: 100, sort: true,edit: 'text'},
                {field: "qty1",title: "法定数量",width: 100, sort: true,edit: 'text'},
                {field: "unit1",title: "法定计量单位",width: 125, sort: true,edit: 'text'},
                {field: "country",title: "原产国",width: 80,edit: 'text'},
                {field: "hscode",title: "海关商品编码(Hscode)",width: 185, sort: true,edit: 'text'},
                {field: "gjcode",title: "国检商品编号",width: 150, sort: true,edit: 'text'},
                {field: "gtype",title: "商品规格型号",width: 120,edit: 'text'},
                {field: "price",title: "单价",width: 100, sort: true,edit: 'text'},
                {field: "total_price",title: "总价",width: 100, sort: true,edit: 'text'},
                {field: "item_currency",title: "币制",width: 70,edit: 'text'},
                {field: 'ctrl', title: '操作', width: 90, toolbar: "#tools", fixed: "right"}
            ]],
//            skin: "row",
            even: true,
            page: true,
            limits: [5,10,20,40,80],
            limit: 5,
            done: function (res,curr,count) {
                $(".bot-total").children("strong").html(count);
                if (count == 0) {

				}
            }
        });
        //监听合法信息操作工具条
        table.on("tool(osucc)",function (obj) {
            var data = obj.data;
            if (obj.event == "commit") {
                var url = "{:url('admin/Order/editPreviewOrder')}";
                data = {
					orderNo : data.order_no,
					batch_no : data.batch_no,
					data: data
				};
                $.post(url,data,function (res) {
					if (res.code == "0000") {
                        layer.msg(res.msg,{time: 2000});
					}else{
					    layer.open({
							content: res.msg
						});
					}
                });
            }else if(obj.event == "del") {
				layer.confirm('确定删除？', function(index){
					$.post('{:url("admin/Order/delPreviewOrder")}',{order_no: data.order_no,batch_no: data.batch_no},function (res) {
						if (res.code == '0000') {
							obj.del();
							layer.close(index);
							table.reload('osucc-main');
						}else{
							layer.close(index);
							layer.msg(res.msg,{time: 2000});
						}
					});
				});
            }
        });
    });

    //提交所有非法信息的更改
	function emitAll() {
        var url = "{:url('admin/Order/savePreviewData')}";
        data = {datas: duplic_data};
        $.post(url,data,function (res) {
            if (res.code == "0000") {
                if (res.data.duplic_arr == null | (res.data.duplic_arr != null&&rlength < duplic_data.length)) {
                    res.data.duplic_arr == null ? rlength = 0 : rlength = res.data.duplic_arr.length;
                    layer.open({
                        content: "成功更改"+(duplic_data.length-rlength)+"条数据！<br><font color='red'>还存在错误数据"+rlength+"条！</font>"
                    });
					duplic_data.splice(0,duplic_data.length);
					duplic_data.push.apply(duplic_data,res.data.duplic_arr);
                    layui.table.reload('osucc-main');
                    layui.table.reload('oerr-main');
                }else {
                    layer.msg("数据仍存在错误！",{time: 2000});
                }
            }else{
                layer.open({
                    content: res.msg
                });
            }
        });
    }

    //批量删除非法信息
    function delErrBatch() {
        layui.use(['table','layer'],function (table,layer) {
            var $ = layui.jquery;
            var checkStatus = table.checkStatus('oerr-main');
            var data = checkStatus.data;
//            var preview_data = $.parseJSON($(parent.document).find('#preview-data').html());
//            var duplic_data = preview_data.duplic_arr;
//            var ndata = {batch_no: preview_data.batch_no,duplic_arr: duplic_data};
            if (data.length>0) {
                layer.confirm('确定删除？', function(index){
                    $(data).each(function (i,item) {
						$(duplic_data).each(function (k,d) {
                            if (item.autonum == d.autonum) {
                                duplic_data.splice(k,1);
                            }
                        });
                    });
//                    ndata.duplic_arr = duplic_data;
//                    $(parent.document).find('#preview-data').html(JSON.stringify(ndata));
                    layer.close(index);
                    layui.table.reload('oerr-main');
                });
            }else{
                layer.msg("没选择数据呀",{'time':"1000"});
            }
        });
    }

    //批量删除合法信息
    function delBatch() {
        layui.use(['table','layer'],function (table,layer) {
            var $ = layui.jquery;
            var checkStatus = table.checkStatus('osucc-main');
            var data = checkStatus.data;
            if (data.length>0) {
                //将被选中的数据对象转换成字符串，后通过表单向后台提交并获取导出的文件
                var str = "";
                $(data).each(function (index,obj) {
                    str+= obj.order_no+"|";
                });
                layer.confirm('确定删除？', function(index){
                    $.post('{:url("admin/Order/delPreviewOrder")}',{batch_no: data[0].batch_no,order_nos: str.slice(0,-1)},function (res) {
                        if (res.code == '0000') {
                            layer.close(index);
                            layui.table.reload('osucc-main');
//                            parent.layui.table.reload('ogoods-main');
                        }else{
                            layer.close(index);
                            layer.msg(res.msg,{time: 2000})
                        }
                    });
                });
            }else{
                layer.msg("没选择数据呀",{'time':"1000"});
            }
        });
    }
</script>
</body>
</html>